body{
    background-image: linear-gradient(to right, #A0C49D , #94AF9F);
}

h1{
    color: white;
}

img{
    border-radius: 5px;
}

.img-fluid:hover{
    transform: scale(1.1);
    transition: 0.7s;
    box-shadow: 5px 5px 8px 5px #8e918f;
}

.imggallery{
    max-height: 250px;
}